body {
	margin: 0;
}

/* Extra UI that appears on desktop version */
div#desktop {
	text-align: center;
}

/* Error that displays if user is playing in portrait mode */
#portError {
	text-align: center;
	font-size: 1.90em;
}

/* Game container */
div#container {
	border: 1px black solid;
	border-width: 1px 0;
}

div#ui {
	border: 1px black solid;
	border-width: 1px 0;
}

div.track {
	width: 100%;
	border:1px black solid;
	border-width: 1px 0;
}

div.obstacle {
	width: 40px;
	background-color: red;
	position: absolute;
}

#circle {
    position: relative;
    width: 31px;
    height: 31px;
    top: 35%;
} 

